.list-header {
    background: $light-grey;
    border: 1px solid darken($color: $light-grey, $amount: 7%);
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size;
}

.list-item {
    border: 1px solid darken($light-grey, 7%);
    border-top: none;
    color: $dark-grey;
    display: flex;
    flex-direction: column;
    padding: $s-size;
    text-decoration: none;
    transition: background .3s ease;

    &:hover {
        background: $light-grey;
    }

    @media only screen and (min-width: $desktop-breakpoint) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;
    }

    &__title {
        margin: 0;
        word-break: break-all;
    }

    &__sub-title {
        color: $grey;
        font-size: $font-size-sm;
    }

    &__amount {
        margin: $s-size 0 0 0;
        @media only screen and (min-width: $desktop-breakpoint) {
            margin: 0;
            padding-left: $s-size;
        }
    }

    &--message {
        align-items: center;
        color: $grey;
        justify-content: center;
        padding: $m-size;

        &:hover {
            background: none;
        }
    }
}

.list-body {
    margin-bottom: $m-size;

    @media only screen and (min-width: $desktop-breakpoint) {
        margin-bottom: $l-size;
    }
}